Q1. Create one variable containing following type of data:

    (i)string

    (ii)list

    (iii)float

    (iv)tuple

In [1]:
letter = "Mouli Siramdasu"
lst = ['Mouli', 'Siramdasu', 'India']
flot = 99.7
tple = ('apple','mango','strawberry')
print(type(letter))
print(type(lst))
print(type(flot))
print(type(tple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

    (i)var1 = ‘ ‘

    (ii)var2 = ‘[ DS , ML , Python]’

    (iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

    (iv)var4 = 1.

What will be the data type of the above given variable.

In [2]:
var1 = ' '
var2 = '[DS , ML , Python]'
var3 = ['DS' , 'ML' , 'Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

    (i)/

    (ii)% 

    (iii)//

    (iv)**

In [6]:
var1 = 11/5 # It returns float value of the division
var2 = 10%5
var3 = 11//5 # It rounds the value 
var4 = 10**5

print(f'var1: {var1}, var2: {var2}, var3: {var3}, var4: {var4}')

var1: 2.2, var2: 0, var3: 2, var4: 100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [10]:
my_list = [
    "Mouli",  # string
    3.14,  # float
    7,  # integer
    [1, 2, 3],  # list
    {"name": "Mouli", "age": 20},  # dictionary
    {"red", "green", "blue"},  # set
    (1, 2, 3),  # tuple
]

for item in my_list:
    print(f"{item}: ({type(item)})")

Mouli: (<class 'str'>)
3.14: (<class 'float'>)
7: (<class 'int'>)
[1, 2, 3]: (<class 'list'>)
{'name': 'Mouli', 'age': 20}: (<class 'dict'>)
{'green', 'red', 'blue'}: (<class 'set'>)
(1, 2, 3): (<class 'tuple'>)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [17]:
number_A = 100
number_B = 10
count = 0

while number_A % number_B == 0:
    number_A /= number_B
    count += 1


print(f"Number_A is divisible by Number_B {count} times.")

Number_A is divisible by Number_B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [18]:
numbers = [2, 7, 12, 15, 20, 22, 27, 30, 33, 38, 42, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110]

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is not divisible by 3.")
    else:
        print(f"{num} is divisible by 3.")

2 is divisible by 3.
7 is divisible by 3.
12 is not divisible by 3.
15 is not divisible by 3.
20 is divisible by 3.
22 is divisible by 3.
27 is not divisible by 3.
30 is not divisible by 3.
33 is not divisible by 3.
38 is divisible by 3.
42 is not divisible by 3.
45 is not divisible by 3.
50 is divisible by 3.
55 is divisible by 3.
60 is not divisible by 3.
65 is divisible by 3.
70 is divisible by 3.
75 is not divisible by 3.
80 is divisible by 3.
85 is divisible by 3.
90 is not divisible by 3.
95 is divisible by 3.
100 is divisible by 3.
105 is not divisible by 3.
110 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans: Immutable data types are those whose values cannot be changed once they are created. On the other hand, Mutable data types are those whose values can be modified after they are created.

In [21]:
string1 = "Hello"
string2 = string1

string1 += " World"

print("Immutable Objects:")
print(string1)  # Output: Hello World
print(string2)  # Output: Hello

Immutable Objects:
Hello World
Hello

In [22]:
list1 = [1, 2, 3]
list2 = list1

list1.append(4)

print("Mutable Objects:")
print(list1)  # Output: [1, 2, 3, 4]
print(list2)  # Output: [1, 2, 3, 4]

Mutable Objects:
[1, 2, 3, 4]
[1, 2, 3, 4]